
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:azure;
    color: teal;
    margin: 0;
}

.titulo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:antiquewhite;
    color:black;
    margin-bottom: 0;

    text-align: center;
}

/* .titulo h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:antiquewhite;
    color:black;
    margin: 0;  
} */

nav ul{
    display: flex;
    width: 100%;
    justify-content: center;

    margin: 10px auto;
    list-style: none;
}

nav ul li{
   display: inline-block;
   margin-right: 30px;
}

nav{
   background-color: aquamarine;
   margin-top: 0;
   padding: 10px;

    text-align: center;
}

nav ul link{
   display: inline-block; /*usa solo el espacio de su contenido*/
   margin-right: 30px;
}

.link{
    text-decoration: none;
    color:azure;
    font-weight: bold;
}

.link:hover{
    color:chocolate; /*cambia mouse encima*/
}

main{
    max-width: 1900px;
    margin: 50px;

}

footer{
    text-align: right;
    padding: 10px;
}
